target/

#######################################
# IntelliJ IDEA / VS Code
#######################################
.idea/
*.iml
*.ipr
*.iws
out/
.vscode/

#######################################
# OS Files
#######################################
.DS_Store
Thumbs.db

#######################################
# Logs
#######################################
*.log
logs/

#######################################
# Spring Boot
#######################################
*.pid
*.seed
*.pid.lock

#######################################
# Environment / Secrets
#######################################
.env
.env.*

#######################################
# Docker
#######################################
docker-data/
*.tar

#######################################
# Testcontainers
#######################################
.tc/

#######################################
# Misc
#######################################
*.swp
*.swo
*~
